<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title if title else "Eventos" }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <nav class="navbar navbar-expand-lg">

        <div class="container-fluid">
            <a class="navbar-brand" href="{% block eventos_url %}{{ url_for('lista_eventos') }}{% endblock %}">{% block eventos_text %}Eventos{% endblock %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    {% block nav_links %} {% endblock %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div id="flash-messages" class="alert alert-info">
            {% for msg in messages %}
            <p>{{ msg }}</p>
            {% endfor %}
        </div>
        {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>

    <script>
        // DESPUES DE 3 SEGUNDOS SE BORRA EL MENSAJE
        setTimeout(function() {
            let flashMessages = document.getElementById('flash-messages');
            if (flashMessages) {
                flashMessages.style.transition = "opacity 0.5s";
                flashMessages.style.opacity = "0";
                setTimeout(() => flashMessages.remove(), 500);
            }
        }, 5000);
    </script>
    <script>
        window.setTimeout(function() {
            document.querySelectorAll('.alert').forEach(function(alert) {
                alert.style.transition = "opacity 0.5s ease";
                alert.style.opacity = 0;
                setTimeout(function() {
                    alert.remove();
                }, 500); // tiempo en que se oculta
            });
        }, 5000);
    </script>
    <script>
        function copiarClave() {
            var clave = document.getElementById('claveEvento').innerText;

            navigator.clipboard.writeText(clave).then(function() {
                alert("Clave copiada al portapapeles: " + clave);
            }).catch(function(err) {
                console.error("Error al copiar la clave: ", err);
            });
        }
    </script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>