{% extends 'base.html' %} {% block eventos_url %}{{ url_for('lista_eventos') }}{% endblock %} {% block eventos_text %}Código QR{% endblock %} {% block content %}
<div class="container mt-5">
    <h2>Consultar tu Código QR</h2>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    <form method="POST">
        <div class="mb-3">
            <label for="event_id" class="form-label">Selecciona el Evento</label>
            <select name="event_id" id="event_id" class="form-select" required>
                <option value="">-- Selecciona un Evento --</option>
                {% for event in events %}
                    <option value="{{ event.eve_id }}">{{ event.eve_nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="user_id" class="form-label">Tu Documento / ID</label>
            <input type="text" class="form-control" name="user_id" id="user_id" required>
        </div>
        <button type="submit" class="btn btn-primary">Consultar QR</button>
    </form>
</div>
{% endblock %}