{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Seleccionar Evento para Evaluar</h2>
    <div class="row">
        {% if eventos %} {% for evento in eventos %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ evento.eve_nombre }}</h5>
                    <p class="card-text">{{ evento.eve_ciudad }}</p>
                    <a href="{{ url_for('evaluadores.panel_evaluador', eva_id=evaluador.eva_id, evento_id=evento.eve_id) }}" class="btn btn-primary">
                                Entrar a Evaluar
                            </a>
                </div>
            </div>
        </div>
        {% endfor %} {% else %}
        <p>No hay eventos disponibles para evaluar.</p>
        {% endif %}
    </div>
</div>
{% endblock %}