{% extends 'base.html' %} {% block nav_links %}
<li class="nav-item"><a class="nav-link" href="{{ url_for('admin.agregar_area') }}">Agregar Area</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('admin.agregar_categoria') }}">Agregar Categoria</a></li>
{% endblock %} {% block eventos_url %} {{ url_for('superadmin.super_admin') }} {% endblock %} {% block eventos_text %} Super Admin {% endblock %} {% block content %}
<div class="container mt-4">




    <div class="text-center">
        <h2 class="text-center mb-4">Super Admin</h2>
        <p class="lead">Aquí podrás ver y Activar los eventos creados.</p>
    </div>


    <div class="row">
        {% if eventos %} {% for evento in eventos %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 event-card">
                {% if evento.imagen %}
                <img src="{{ url_for('static', filename='imagenes/' ~ evento.imagen) }}" class="card-img-top rounded" alt="Imagen del evento" style="height: 200px; width: 100%; object-fit: cover;"> {% endif %}

                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ evento.eve_nombre }}</h5>
                    <p class="card-text flex-grow-1">
                        {{ evento.eve_descripcion }}<br>
                        <strong>📍 Ciudad:</strong> {{ evento.eve_ciudad }}<br>
                        <strong>📅 Fecha Inicio:</strong> {{ evento.eve_fecha_inicio }}<br>
                        <strong>🏁 Fecha Fin:</strong> {{ evento.eve_fecha_fin }}<br>

                        <strong>🔹 Estado:</strong>
                        <span class="badge {% if evento.eve_estado=='ACTIVO' %} bg-success {% elif evento.eve_estado=='CREADO' %} bg-danger{% else %} bg-danger
                        {% endif %} ">
                                {{ evento.eve_estado }}
                            </span>

                    </p>
                    <div class="text-center">
                        <a href="{{ url_for('superadmin.ver_evento_superadmin', eve_id=evento.eve_id) }}" class="btn btn-primary">
                                Ver Detalle
                            </a>
                    </div>
                </div>
            </div>
        </div>


        {% endfor %} {% else %}
        <div class="col-12">
            <p class="alert alert-warning">No hay eventos disponibles en este momento.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}